<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="41def5db-25f9-413a-9256-7e1bf6bebebe"
            Publisher="CN=dell"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>zinfoenvironments4a</DisplayName>
    <PublisherDisplayName>dell</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="zinfoenvironments4a.App">
        <VisualElements
            DisplayName="zinfoenvironments4a"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="zinfoenvironments4a"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>